amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.6.3
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
decorator==5.2.1
Django==6.0.5
django-allauth==65.16.1
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
kombu==5.6.2
moviepy==2.2.1
numpy==2.2.6
opencv-python==4.12.0.88
packaging==26.2
pillow==11.3.0
proglog==0.1.12
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
redis==6.4.0
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.1
tzdata==2026.2
tzlocal==5.3.1
vine==5.1.0
wcwidth==0.7.0
whitenoise==6.12.0
